HOSTNAME=0.0.0.0
PORT=3001

APP_NAME="RAG System"
SECRET_KEY="RAG_SYSTEM_SECRET_KEY"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=300
SQL_DATABASE_URL="sqlite///./rag_system.db"


STORAGE_DIR="storage/uploads"
VECTOR_STORE_DIR = "./chroma"


GOOGLE_API_KEY=""