fastapi[standard]
uvicorn
pydantic-settings
sqlmodel
bcrypt
python-multipart
python-jose[cryptography]
pyjwt
langchain-ollama
langchain
langchain_community
langchain-google-genai
pypdf
pymupdf
python-dotenv
uuid
chromadb
langchain-chroma
docx2txt
unstructured
unstructured_inference
ocrmypdf
openpyxl

#mcp
mcp
mcp[cli]